@keyframes type {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}