/**********************
---- GLOBAL ----
***********************/
html,
body,
.container-table 
{
	height: 100%;
	box-sizing: border-box;
}

body 
{
	background: #D6D6D6;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	display: flex;
	flex-direction: column;
	position: relative;
}


@font-face 
{
	font-family: pixels;
	src: url(../fonts/Blox2.ttf);
}

a,
i,
p,
h1,
h2,
h3,
label,
.btn-default,
#myNavbar,
.direct-message input[placeholder],
.direct-message textarea[placeholder],
.direct-message .btn-default,
.social-links h1,
.social-links a,
span,
.btn-primary
{
	font-family: 'Quicksand', sans-serif;
}

hr 
{
	width: 4px;
	height: 100px;
	background-color: #3498DB;
}

.col-centered 
{
	margin: 0 auto;
}

.affix 
{
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(37,55,61, 0.8);
	transition: 0.5s;
}

.affix #myNavbar a
{
	color: white;
}

.affix .navbar-brand
{
	color: #17D6F5;
}

#logo 
{
	height: 100px;
	width: 100px;
}

.container-table 
{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;	
}

.main 
{
	margin: 115px 0;
}

.page-header
{
	font-family: pixels;
	font-size: 45px;
	color: #3498DB;
	border-bottom: none;
}

.section-header
{
	/*color: #1ABC9C;*/
	color: #17D6F5;
}

.section-header-two
{
	color: #78C0A8;
}

/**********************
---- NAVBAR ----
***********************/
.navbar 
{
	transition: 0.5s;
}

.navbar-brand 
{
	font-family: pixels;
	font-size: 40px;
	margin-top: 5px;
	color: black;
}

.navbar-brand:hover 
{
	color: #17D6F5;
	transition: 0.5s;
}

.navbar-toggle 
{
	background: transparent;
	border: 3px solid #17D6F5;
	border-radius: 0;
}

.navbar-toggle:hover 
{
	background: transparent;
}

.icon-bar 
{
	background-color: white;
}

.navbar 
{
	/*background: rgba(0,0,0,0.8);*/
	border-bottom: 0;
}

#myNavbar 
{
	font-size: 17px;
}


#myNavbar a 
{
	color: black;
	position: relative;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0 15px;
}

#myNavbar a:after 
{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 3px solid #17D6F5;
  color: white;
  transition: 0.3s ease-in;
}

#myNavbar .active 
{
  content: '';
  border-bottom: 3px solid #3498DB;
}

.selected a
{
	color: #BD3C4E;
}

#myNavbar a:hover 
{
	background-color: transparent;
}

#myNavbar a:hover:after 
{
	width: 100%;
}

/**********************
---- PAGE: HOME ----
***********************/
.banner-caption h1 
{
	font-family: pixels;
	font-size: 80px;
	padding: 10px;
	color: black;	
	white-space: nowrap;
	margin: 0 auto;
	overflow: hidden;
	border-right: 3px solid black;
	animation: type 4.5s steps(50, end), caret .75s step-end infinite;
	transition: 0.9s; /*---- For Resizing ----*/
}

.explore .btn-default
{
	margin-top: 50px;
	border: 5px solid #44BBFF;
	border-radius: 0;
	color: black;
	font-size: 20px;
	font-weight: bold;
	width: 190px;
	height: 50px;
	background-color: #44BBFF;
	box-sizing: border-box;
	transition: 0.5s;
}

/**********************
---- PAGE: PROJECT ----
***********************/


.thumbnail
{
	background: #3F3F3F;
	border: 5px solid #3F3F3F;
	padding: 10px;
	border-radius: 0;
}

.thumbnail p
{
	color: white;
}

.thumbnail h3
{
	color: #44BBFF;
}

.caption .btn-default
{
	margin-top: 10px;
	border: 3px solid #44BBFF;
	background: #44BBFF;
	border-radius: 0;
	font-size: 15px;
	color: black;
}

/**********************
---- PAGE: ABOUT ----
***********************/


#avatar
{
	height: 250px;
	width: 250px;
	padding: 0;
}
.avatar
{	
	height: 100%;
	width: 100%;
	border-radius: 100%;
}


/**********************
---- PAGE:CONTACT ----
***********************/

.direct-message
{
	background-color: #3F3F3F;
	border: 5px solid #17D6F5;
	padding: 30px;
	position: relative;
}

.direct-message h1,
.direct-message p
{
	margin-bottom: 30px;
}

.direct-message label,
.direct-message p
{
	color: #ECF0F1;
}

.direct-message input[type="text"],
.direct-message textarea
{
	box-shadow: none;
	border: none;
	border-radius: 0;
	background-color: transparent;
	outline: none;
	border-bottom: 1px solid black;
	color: black;
}


.direct-message input[type="text"]:focus,
.direct-message textarea:focus
{
	/*outline: #37575C;*/
	border-bottom: 1px solid black;
	box-shadow: none;
	/*background: #F0F1F5;*/
	transition: 0.7s;
}

.direct-message .btn-default
{
	float: right;
	padding: 10px;
	margin: 10px 0 10px 10px;
	color: black;
	width: 100px;
	border: 5px solid #17D6F5;
	background-color: #17D6F5;
}

.rubiks
{
	height: 80px;
	width: 80px;
	position: absolute;
	bottom: 0;
	left: 1;
	margin-bottom: 10px;
}

img
{
	height: 100%;
	width: 100%;
}

.social-links
{
	padding: 30px;
}

.social-links h1
{
	border: 5px solid #26C281;
	padding: 5px;
	background: #26C281;
	color: white;
}

.social-links .social-media
{
	border: 5px solid #26C281;
	padding: 15px;
	background: #26C281;
	color: white;
	width: 100%;
}

.social-links a
{
	text-decoration: none;
	list-style-type: none;
}

.social-links a
{
	color: black;
}

.social-links a:hover
{
	text-decoration: line-through red;
}

.social-links span
{
	color: black;
}

.social-links i[class="fa fa-map-marker"]
{
	color: black;
}



/**********************
---- FOOTER ----
***********************/

footer 
{
	width: 100%;
	height: 100px;
	background: #37575C;
}

footer p 
{
	margin-top: 20px;
	color: black;
}

footer ul li 
{
	display: inline-block;
	padding: 0 5px;
}

footer ul 
{
	padding-left: 0;
}

footer ul li,
footer ul li .fa
{
	color: black;
	font-size: 18px;
}

footer ul li .fa:hover 
{
	color: #26C281;
}

/**********************
---- ANIMATION ----
***********************/

@keyframes type 
{
    from 
    {
        width: 0;
    }

    to 
    {
        width: 100%;
    }
}

@keyframes caret 
{
    from, to 
    {
        border-color: transparent;
    }
    50% 
    {
        border-color: #3498DB;
    }
}

/**********************
---- MEDIA QUERIES ----
***********************/


@media screen and (max-width: 768px)
{
	/*
	------ NAVBAR------
	*/

	.navbar 
	{
		background: rgba(37,55,61, 0.8);
		transition: 0.5s;
	}
	
	#myNavbar ul li a 
	{
		color: white;
	}

	.navbar-brand 
	{
		color: #17D6F5;
		letter-spacing: 4px;
		transition: 0.5s;
	}



	/*
	----- PAGE: HOME -----
	*/

	.banner-caption h1 
	{
		font-size: 60px;
	}
	.explore .btn-default
	{
		margin-top: 40px;
		color: black;
		font-size: 13px;
		font-weight: bold;
		width: 150px;
		height: 35px;
		background-color: #44BBFF;
		transition: 0.5s;
	}
	

}

@media screen and (max-width: 540px)
{
	/*
	----- PAGE: HOME ----
	*/

	.banner-caption h1 
	{
		font-size: 40px;
	}
}